services:
  app:
    build: .
    container_name: show-time
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/my_show_time
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo-db
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
