* {
    margin: 0;
    padding: 0;
}


.side {
    grid-area: side;
    background-color: #4f586b;
    height: 100%;
}

.main {
    grid-area: main;
    background-color: #bccbde;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas:
        "side main main main main"
        "side main main main main"
        "side main main main main"
    ;
    height: 100vh;
}

.side ul li {
    list-style: none;
    padding: 25px;
}

.side ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.side ul li img {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

div h1 {
    padding: 15px;
    background-color: #393f4d;
    width: 100%;
    font-size: 50px;
}

div h1 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-dash {
    background-color: #393f4d;

}

.footer-dash ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}