    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Item</title>
    </head>
    <body>
        <h1>Update Item</h1>
        <form action="/users/{{user.id}}" method="POST">
        {{#each users}}
            <input type="hidden" name="_method" value="PUT"> 
            <label for="name">username:</label>
            <input type="text" id="name" name="name" value="{{user.username}}" required>
            <br>
            <label for="description">email:</label>
            <textarea id="description" name="description">{{user.email}}</textarea>
            <br>
            <button type="submit">Update</button>
        {{/each}}
        </form>
    </body>
    </html>