*{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  .header {
    background-color: #393f4d;
    grid-column: 1 / 3;
    box-sizing: border-box;

  }

  /* css dev3 */

.navbar{
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 1px solid #000; */
    box-sizing: border-box;

}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;

}

.navbar .logo a{
    text-decoration: none;
    box-sizing: border-box;

}

.search-bar{
    border-radius: 25px;
    width: 50%;
    padding: 10px;
    border: 1px solid #fdfdfd;
    box-sizing: border-box;
    display: flex;
  justify-content: center;

}

.search-bar img{
    height: 25px;
    box-sizing: border-box;

}

.search-bar input{
    width: 93%;
    font-size: 20px;
    height: auto;
    border: none;
    border-color: transparent;
    outline: none;
    box-sizing: border-box;
    background-color: #fcf9f913;
    color: #FFFFFF;

}

.navbar .links{
     display: flex;
    box-sizing: border-box;

}
 

.links li{    
    list-style: none;
    /* display: flex; */
    box-sizing: border-box;

}
    

.links a{
    display: flex;
    height: 35px;
    text-decoration: none;
    align-items: center;
    /* border: 1px solid #000; */
    box-sizing: border-box;

}
.links a input{
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  background-color: #C50208;
  color: #FFFFFF;
}

.cart img{
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
    height: 25px;
    box-sizing: border-box;

}

.cart a{
    color: black;
    box-sizing: border-box;

}

.burger-menu img{
    display: flex;
    height: 25px;
    box-sizing: border-box;

}

.burger-menu a{
    display: flex;
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;

}

  /* css dev3 */



  .sidebar {
    background-color: #C50208;
    grid-row: 2 /span 2;
  }

  .promo {
    grid-row: 2/ 4 ;
    background-image: url(image/soldes-ete-2023-meilleurs-smartphones-soldes.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  color: black;
  font-size: 40px;
  height: 250px;
  border-radius: 10px;
  align-self: center;
  margin: 8px;

}

.nav





  .sidebar ul {
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
    margin-left: 10px;
  }
  .sidebar li {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .nav {
  background-color: #C50208;
  padding: 25px;

}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
text-align: center;
  
}


.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

  a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 20px;
  }

  .main {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px;
  }

.main .card {
    gap: 4px;
    padding: 15px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
}

.card{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.imag{
  max-width: 250px;
}


  .footer {
    background-color: #393f4d;
    grid-column: 1 / 3;
    padding: 15px;
  }

